# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/**

# Docs
docs/

# Dotenv files
.env
.env.*
!.env.example

lcov.info*
report/
.DS_Store

logs/*

# Per-deployment artifact outputs
deployments/

# npm-artifacts package
npm-artifacts/node_modules
npm-artifacts/dist
